@import '../../theme/scss/mixins/visually-hidden.scss';
@import '../../theme/scss/variables.scss';
@import '../../theme/scss/mixins/title-line.scss';

.i-page {
  &__header {
    margin-bottom: 209px;

    @media (min-width: $small-tablet-width) {
      margin-bottom: 0;
    }
  }

  .main {
    &__top-content {
      padding-bottom: 46px;

      @media (min-width: $small-tablet-width) {
        position: relative;
        z-index: -2;
        background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
        padding-top: 110px;
        padding-bottom: 17px;
      }
    }

    &__title {
      position: relative;
      padding: 0 16px;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 37px;

      @media (min-width: $small-tablet-width) {
        &::before {
          @include title-line;
          top: -35px;
        }
      }

      @media (min-width: 955px) {
        font-size: 40px;
        margin-bottom: 65px;
      }
    }

    .advantages__title {
      @include visually-hidden;
    }

    .parallax {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      @media (min-width: $small-tablet-width) {
        display: block;
      }

      &__bubbles-left {
        position: absolute;
        z-index: -1;
        width: 445px;
        height: 450px;
        background-image: url(./img/bubbles-left.png);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 70px;
        left: 90px;
        transform: scale(1.5);
      }

      &__bubbles-right {
        position: absolute;
        z-index: -1;
        width: 445px;
        height: 450px;
        background: url(./img/bubbles-right.png);
        background-repeat: no-repeat;
        background-size: cover;
        right: 90px;
        top: 70px ;
        transform: scale(1.5);
      }
    }

    &__bottom-content {
      overflow:hidden;

      &::after {
        content: '';
        clear: both;
        display: table;
      }
    }

    &__reviews {
      @media (min-width: $small-tablet-width) {
        width: 50%;
        float: left;
        background: #F5F5F5;
        padding-bottom: 20000px;
        margin-bottom: -20000px;
      }
    }

    &__info {
      @media (min-width: $small-tablet-width) {
        width: 50%;
        float: right;
        background: #f8fbff;
        padding-bottom: 20000px;
        margin-bottom: -20000px;
      }
    }
  }
}
