@import '../../theme/scss/variables.scss';

.review-card {
  $r: &;
  position: relative;
  max-width: 290px;
  margin: 0 auto;
  padding-left: 10px;
  margin-bottom: 32px;

  &::after {
    content: '';
    clear: both;
    display: table;
  }

  @media (min-width: $small-tablet-width) {
    max-width: 364px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    float: right;
  }

  @media (min-width: 1575px) {
    margin-left: 10px;
  }

  &._size_large {
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    border-radius: 32px;
    padding-top: 85px;
    padding-bottom: 15px;
    padding-left: 0;
    margin-bottom: 40px;

    #{$r}__img {
      float: unset;
      width: 97px;
      height: 97px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -44px;
    }

    #{$r}__content {
      float: unset;
      margin: 0 auto;
      width: 256px;
      text-align: center;
    }

    #{$r}__review {
      line-height: 24px;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 26px;
        background: url(./img/quotes.svg);
        top: -59px;
        left: 0;
      }

      &::after {
        left: unset;
        right: 0;
        transform: rotate(180deg);
      }
    }

    #{$r}__author {
      margin-top: 17px;
    }

    @media (min-width: $desktop-width) {
      float: right;
      max-width: 750px;
      width: 100%;
      box-shadow: unset;
      border-radius: unset;
      padding-top: 39px;
      padding-bottom: 45px;
      margin-bottom: 90px;

      #{$r}__img {
        position: static;
        float: left;
        left: unset;
        transform: unset;
        top: unset;
        width: 187px;
        height: 187px;
        margin-right: 70px;
        margin-top: 6px;
      }

      #{$r}__content {
        float: right;
        width: 360px;
        text-align: left;
      }

      #{$r}__review {
        &::before {
          background: url(./img/filled-quotes.svg);
          left: -52px;
          top: 0px;
        }

        &::after {
          background: url(./img/filled-quotes.svg);
          top: unset;
          bottom: -44px;
          right: -24px;
        }
      }

      #{$r}__author {
        margin-top: 11px;
      }
    }

    @media (min-width: 1680px) {
      #{$r}__content {
        width: 489px;
      }
    }
  }

  &._is-reversed {
    padding-left: 0;
    padding-right: 10px;

    #{$r}__img,
    #{$r}__content {
      float: right;
    }

    #{$r}__img {
      margin-right: 0;
      margin-left: 19px;
    }

    @media (min-width: $small-tablet-width) {
      & {
        padding-right: 0;
      }

      #{$r}__img {
        margin-left: -5px;
      }
    }

    @media (min-width: $desktop-width) {
      float: left;
    }
  }

  &__img {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    margin-right: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (min-width: $small-tablet-width) {
      width: 97px;
      height: 97px;
      margin-right: 24px;
    }
  }

  &__content {
    float: left;
    width: 196px;

    @media (min-width: $small-tablet-width) {
      width: 242px;
      padding-top: 7px;
    }
  }

  &__review {
    position: relative;
    line-height: 23px;

    @media (min-width: $small-tablet-width) {
      line-height: 24px;
    }
  }

  &__author {
    font-weight: 700;
    margin-top: 20px;

    @media (min-width: $small-tablet-width) {
      margin-top: 13px;
    }
  }
}
